body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#result {
    height: 50px;
    width: 100%;
}

input {
    max-width: 500px;
    display: block;
    margin: auto !important;
}

#footer {
    margin-top: 10px;
}